<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Board_datail</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/board_detail.css">
	</head>
	<body>
		<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="title_space">
				<a href="" style="text-decoration: none">카테고리</a><!-- 카테고리맞는 게시글 조회  -->
				<table>
					<tr>
						<th rowspan="3" width="700px" style="text-align:left">제목입니다!!!!{제목}</th>
						<td>{작성자},{판매등급}</td>
					</tr>
					<tr>
						<td>{작성날짜},{작성시간}</td>
					</tr>
					<tr>
						<td>{수정날짜},{수정시간}</td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="body_space">
				<br>
				
				<p>
				{detail}
				</p>
				<br><br><br>
				
				<button type="button">good</button><!-- 추천수 증가 -->
				<button type="button">bad</button><!-- 비추 증가 -->
			</div>
			<hr><br>
			<div class="comment_space">
				{comment}<br>
				{comment}<br>
				<form name="commentform" method="POST">
					<input type="text" width="600">
					<button type="submit" value="enter">enter</button>
					
				</form>
			</div>
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>