<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Board</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/board.css">
		
	</head>
	<body>
		<th:block th:if="${loginUser == null}">
			<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		</th:block>
		<th:bolck th:if="${loginUser != null}">
			<div class="logout"> <a th:text="${loginUser.getMember_nickname()}">userId</a> 
				<a style="color:grey" href = "logout.do">로그아웃.&emsp;</a></div>
		</th:bolck>

		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="category">
				<ul>		
					<li><a style="text-decoration:none;">{카테고리1}</a></li>
					<li><a style="text-decoration:none;">{카테고리2}</a></li>
					<li><a style="text-decoration:none;">{카테고리3}</a></li>
				</ul>
			</div>
			<div class="boardlist">
				<table>
					<tr>
						<th style="padding-right:350; padding-left:25;">제목</th>
						<th>작성자</th>
						<th>등록일</th>
					</tr>
					<tr th:each="board : ${list}">
						<td><a th:text = "${board.Board_title}" th:href="@{/Board_detail.do(boardNo=${board.getBoard_no()})}" style="text-decoration: none; color: black;">{board1.title}</a></td>
						<td th:text = "${board.Board_writer}"></td>
						<td th:text = "${board.Board_date}"></td>
					</tr>
				</table>
				<th:bolck th:if="${loginUser != null}">
					<button class="write" type="button" onclick="location.href='Board_write.do'" style="float:right">wirte</button>
				</th:bolck>
			</div>
			<div class="page">
				<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
					<a th:if="${page != nowPage}" th:href="@{/Board.do(page=${page-1})}" th:text="${page}" style="text-decoration: none; color: black;"></a>
					<strong th:if="${page == nowPage}" th:text="${page}" style="color : grey"></a>
				</th:block>
				<form name="board_search" action="Board_search.do" method="POST">
				<input name="search" placeholder="키워드 입력" type="text"><button type="submit" value="search">search</button>
				</form>
			</div>
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>