<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Board_datail</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/board_detail.css">
	</head>
	<body>
		<th:block th:if="${loginUser == null}">
			<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		</th:block>
		<th:bolck th:if="${loginUser != null}">
			<div class="logout"> <a th:text="${loginUser.getMember_nickname()}">userId</a> 
				<a style="color:grey" href = "logout.do">로그아웃.&emsp;</a></div>
		</th:bolck>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="title_space">
				<a th:text="${board.getBoard_category()}" style="text-decoration: none">카테고리</a><!-- 카테고리맞는 게시글 조회  -->
				<table>
					<tr>
						<th th:text="${board.getBoard_title()}" rowspan="3" width="700px" style="text-align:left">제목입니다!!!!{제목}</th>
						<td th:text="${board.getBoard_writer()}">{작성자}</td>
						<td th:text="${writeUser.getMember_grade()}">{등급}</td>
					</tr>
					<tr>
						<td style="float:left" th:text="${board.getBoard_date()}">{작성시간}</td>
					</tr>
					<tr th:if="${loginUser!=null}">
						<td><a th:if="${loginUser.getMember_no()==board.getMember_no()}" th:href="@{Board_delete.do(boardNo=${board.getBoard_no()})}" style="text-decoration: none; color: black;">글삭제</a></td>
						<td><a th:if="${loginUser.getMember_no()==board.getMember_no()}" th:href="@{Board_modify.do/{boardNo}(boardNo=${board.getBoard_no()})}" style="text-decoration: none; color: black;">글 수정</a></td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="body_space">
				<br>
				
				<p th:text="${board.getBoard_detail()}">
				{detail}
				</p>
				<br><br><br>
				
				<button type="button">good</button><p th:text="${board.getBoard_like()}"> {like count}</p><!-- 추천수 증가 -->
				<button type="button">bad</button><p th:text="${board.getBoard_bad()}"> {bad count}</p><!-- 비추 증가 -->

			</div>
			<hr><br>
			<div class="comment_space">
				{comment}<br>
				{comment}<br>
				<form name="commentform" action="Board_comment.do" method="POST">
					<input name="Com_detail" type="text" width="600">
					<button type="submit" value="enter">submit</button>				
				</form>
			</div>
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>