<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Main</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		
	</head>
	<body>
		<div class="login"><a href = "login.html">로그인.&emsp;</a></div>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.html">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.html">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.html">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			&emsp;&emsp;&emsp;
			<div class = "best-commu">
				<h2>&emsp;베스트 게시글 TOP5</h2><br>
				<ul>
					<li>
						&emsp;&emsp;<a href="">게시글 NO.1</a><br><br>
						&emsp;&emsp;<a href="">게시글 NO.2</a><br><br>
						&emsp;&emsp;<a href="">게시글 NO.3</a><br><br><!-- href,title=게시글 조회->카테고리->추천순 top5 -->
						&emsp;&emsp;<a href="">게시글 NO.4</a><br><br>
						&emsp;&emsp;<a href="">게시글 NO.5</a><br><br>
					</li>
				</ul>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<a href="">...더보기</a><!-- href=게시판 조회 -> 카테고리 게시글 -->
			</div>
			&emsp;&emsp;&emsp;
			<div class = "best-info">
				<h2>&emsp;베스트 정보글 TOP5</h2><br>
				<ul>
					<li>
						&emsp;&emsp;<a href="">정보글 NO.1</a><br><br>
						&emsp;&emsp;<a href="">정보글 NO.2</a><br><br>
						&emsp;&emsp;<a href="">정보글 NO.3</a><br><br><!-- href,title=게시글 조회->카테고리->추천순 top5 -->
						&emsp;&emsp;<a href="">정보글 NO.4</a><br><br>
						&emsp;&emsp;<a href="">정보글 NO.5</a><br><br>
					</li>
				</ul>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<a href="">...더보기</a><!-- href=게시판 조회 -> 카테고리 게시글 -->
			</div>
			&emsp;&emsp;&emsp;
			<div class = "best-trade">
				<h2>&emsp;핫딜 TOP5</h2><br>
				<ul>
					<li>
						&emsp;&emsp;<a href="">핫딜 NO.1</a><br><br>
						&emsp;&emsp;<a href="">핫딜 NO.2</a><br><br>
						&emsp;&emsp;<a href="">핫딜 NO.3</a><br><br><!-- href,title=게시글 조회->카테고리->추천순 top5 -->
						&emsp;&emsp;<a href="">핫딜 NO.4</a><br><br>
						&emsp;&emsp;<a href="">핫딜 NO.5</a><br><br>
					</li>
				</ul>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<a href="">...더보기</a><!-- href=게시판 조회 -> 카테고리 게시글 -->
			</div>
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>