<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Join</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/join.css">
		
	</head>
	<body>
		<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="joindiv">
				<form name="joinform" action="member_join.do" method="POST">
					<br>
					아이디 : <button type="button" style="float: right;">중복확인</button>  &nbsp; <input name="member_id" type="text" style="float: right;"> <br>
					<br>비밀번호 : <input name="member_password" type="password" style="float: right;"><br>
					<br>비밀번호 확인 : <input name="check_password" type="password" style="float: right;"><br>
					<br>이름 : <input name="member_name" type="text" style="float: right;"><br><br>
					닉네임 : <input name="member_nickname" type="text" style="float: right;"><br><br>
					전화번호 : <input name="member_phonenum" type="text" placeholder = "ex)010-1234-5678(-포함)" style="float: right;"><br><br>
					주소 :<button type="button" style="float: right;">찾기</button> <input name="dummy_address" type="text" style="float: right;"> &nbsp; <br>
					     <input name="dummy_address2" type="text" style="float: right;" size = "30"><br><br>
					상세주소 : <input name="member_detailaddress" type="text" style="float: right;" size = "30"><br><br>
					<button class="join_button" type="submit" style="float: right;">회원가입</button><br><br><br>
				</form>
			</div>
			<div class="emptyplace">
				
			</div>
		</div>
	</body>
	<footer>
			footer
	</footer>
</div>
</html>