<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>Login</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/login.css">
		
	</head>
	<body>
		<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br><br>
		<div class="main-content">
			<div class="emptyplace"></div>
			<div class="logform">
				<h2>LOGIN</h2><br><hr>
					<div class = "logform-place"></div>
					<div class = "inputform">
						<form name="loginform" action="member_login.do" method="POST">	
							<table>
								<tr>
									<td rowspan="3">&emsp;&emsp;&emsp;&emsp;&emsp;</td>
									<td>
										ID &ensp;: <input name="member_id" type="text" placeholder="아이디를 입력하세요.">
									</td>
								</tr>
									<td>
										PW : <input name= "member_password" type="password" placeholder="비밀번호를 입력하세요">
									</td>
									<td>
										<button name="login-button" type="submit" value="login">login</button>
									</td>
								<tr>
									<td>
										&emsp;&emsp;&ensp;<button class="join-button" type="button" onclick="location.href='join.do'">join</button>
									</td>
								</tr>
							</table>					
						</form>
					</div>
			</div>
		</div>
	</body>
	<footer>
			footer
	</footer>
</div>
</html>