<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>mypage</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/mypage.css"
		
	</head>
	<body>
		<th:block th:if="${loginUser == null}">
			<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		</th:block>
		<th:bolck th:if="${loginUser != null}">
			<div class="logout"> <a th:text="${loginUser.getMember_nickname()}">userId</a> 
				<a style="color:grey" href = "logout.do">로그아웃.&emsp;</a></div>
		</th:bolck>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="Board.do">커뮤니티</a>
				</li>
				<li>
					<a href="TBoard.do">거래게시판</a>
				</li>
				<li>
					<a href="Mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="mybusscard">
				<table border="1" width="400">
					<caption>
						<h2>bussness card</h2>
					</caption>
					<tr>
						<td rowspan="3"> img </td>
						<td colspan="1" th:text="loginUser.getMember_id()">사용자 ID</td>
						<td colspan="1" th:text="loginUser.getMember_grade()">등급</td>
						<td colspan="2" th:text="">작성 게시물 수</td>
					</tr>
					<tr>
						<td colspan="2" th:text="loginUser.getMember_nickname()">닉네임(변경 가능)</td>
						<td colspan="2" th:text="">작성 댓글 수</td>
					</tr>
					<tr>
						<td colspan="2">판매 횟수</td>
						<td colspan="2">판매 등급</td>
					</tr>
				</table>
			</div>
			<br><br><br>
			<div class="myinfo">
				<table width="400">
				<caption>
					<h2>개인 정보</h2>
				</caption>
					<tr>
						<td style="padding-bottom:30;">이름 : {이름 변수}</td>
					</tr>
					<tr>
						<td style="padding-bottom:30;">전화번호 : {전화번호 변수}(변경가능)</td>
					</tr>
					<tr>
						<td style="padding-bottom:30;">주소 : {주소 , 상세주소}(변경가능)</td>
					</tr>
				</table>
				
				
				
				<a href="" style="text-decoration: none">활동 글 목록</a><!-- 작성자 검색 게시글 조회페이지로 .. -->
			</div>
			
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>