<html xmlns:th="http://www.thymeleaf.org">
<div class="wrapper">
	<head>
		<title>TBoard</title>
		<meta http-equiv="Content_Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/tboard.css">
		
	</head>
	<body>
		<th:block th:if="${loginUser == null}">
			<div class="login"><a href = "login.do">로그인.&emsp;</a></div>
		</th:block>
		<th:bolck th:if="${loginUser != null}">
			<div class="logout"> <a th:text="${loginUser.getMemberNickname()}">userId</a> 
				<a style="color:grey" href = "logout.do">로그아웃.&emsp;</a></div>
		</th:bolck>
		
		<div class="icon">
			<div class="align"><a href = "/">zookeepers.</a></div>
		</div>
		<div class="navbar">
			<ul class = "dep1">
				<li>
					<a href="/">오늘의 베스트</a>
				</li>
				<li>
					<a href="board.do">커뮤니티</a>
				</li>
				<li>
					<a href="tboard.do">거래게시판</a>
				</li>
				<li>
					<a href="mypage.do">마이페이지</a>
				</li>
			</ul>
		</div>
		<br><br>
		<div class="main-content">
			<div class="category">
				<ul>		
					<li><a style="text-decoration:none;">{카테고리1}</a></li>
					<li><a style="text-decoration:none;">{카테고리2}</a></li>
					<li><a style="text-decoration:none;">{카테고리3}</a></li>
				</ul>
			</div>
			<div class="boardlist">
				<table>
					<tr>
						<th style="padding-right:250; padding-left:25;">제목</th>
						<th>판매가</th>
						<th>판매상태</th>
						<th>작성자</th>
					</tr>
					<tr>
						<td><a href="tboardDetail.do" style="text-decoration: none; color: black;">{board1.title}</a></td>
						<td>{board1.price}</td>
						<td>{board1.status}</td>
						<td>{board1.member}</td>
					</tr>
					<tr>
						<td>{board2.title}</td>
						<td>{board2.price}</td>
						<td>{board2.status}</td>
						<td>{board2.member}</td>
					</tr>
					<tr>
						<td>{board3.title}</td>
						<td>{board3.price}</td>
						<td>{board3.status}</td>
						<td>{board3.member}</td>
					</tr>
					<tr>
						<td>{board4.title}</td>
						<td>{board4.price}</td>
						<td>{board4.status}</td>
						<td>{board4.member}</td>
					</tr>
					<tr>
						<td>{board5.title}</td>
						<td>{board5.price}</td>
						<td>{board5.status}</td>
						<td>{board5.member}</td>
					</tr>
					<tr>
						<td style="padding-bottom:100">...</td>
					</tr>
				</table>
			</div>
			<div class="dummypage">
				<p> 1 2 3 4 5 NEXT> </p>
				<form name="tboardSearch" action="tboardSearch.do" method="POST">
				<input type="text"><button type="submit" value="search">search</button>
				</form>
			</div>
		</div>
		
	</body>
	<footer>
			footer
	</footer>
</div>
</html>