.main-content {
	margin:0 auto;
	width: 60%;
	display: flex;
	flex-direction:column;
	height:100%
}

.main-content .title_space{
	margin:0 auto;
}



.main-content .body_space{
	margin:0 auto;
}

.main-content .comment_space{
	margin:0 auto;
}