.main-content {
	display: flex;
	flex-direction: column;
	height:100%
}

.main-content .mybusscard{
	width: 400px;
	margin:0 auto;
	background: #ddd;
	
}

.main-content .myinfo {
	width: 400px;
	margin:0 auto;
}